{% extends "base.html" %}

{% block content %}
{% verbatim %}
    <div  class="container">
      <h1>Welcome, javerage ! </h1>
      <legend>Identity.UW is your tool to set the preferred name or set up your NetID account recovery settings.</legend>
     <div> <a href="https://identity-dev.s.uw.edu/id/"><h2>Set up your Preferred name  </a> for <a href="#">UW Directory</a> </h2>

	  <p>You can set a preferred name to be used in place of your legal name wherever possible. If you are listed in the UW directory, your preferred name will be visible there immediately.</p></div>
	  
      <div><a href="/nsspr/configure"><h2>Set up your Account recovery options</a> </h2> 
	      <p>Your NetID account recovery options give you a way to access your account if you forget your password.
 </p>
	  </div>

 
    </div>
{% endverbatim %}
{% endblock %}
