{% extends "base.html" %}

{% block content %}


    <div ng-app="qnaApp" class="container" ng-cloak class="container">

      {% verbatim %}
        <div class="container">
            <div ng-cloak ng-controller="QnaCtrl as netid"
                 ng-model-options="{ allowInvalid: true }">
                <div class="netid-xxx">
                    <h2>UW NetID password recovery</h2>
                </div>
                <div ng-show="netid.getStatus >= 400">
                    <p class="general-error alert alert-danger" role="alert">Error trying to get uwnetid information</p>
                </div>

                <div>
               UWNetId: {{ netid.netid }} ( {{ netid.cname }} )
                </div>


                <div id="qna_form">
                <form role="form" name="netid.qnaform">
                    <div id="fieldset_wrapper">
                        <fieldset>
                            <legend></legend>

         {% endverbatim %}
                            <div class="row" ng-repeat="(i,x) in {{questions}}" >
         {% verbatim %}
                                <div class="col-md-4 idfield">
                                    <label for="{{x['n']}}">{{x['q']}}</label>
                                    <input type="text" name="{{x['n']}}" ng-model="netid.qna[i]"
                                           ng-pattern="valid_chars" value=""
                                           maxlength="48"
                                           required="required"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button type="submit" id="qna_next" class="btn btn-primary" ng-click="netid.checkQnA()"
                            ng-disabled="netid.qnaform.$pristine"
                            >Next qna only
                    </button>

                </form>
                </div>
            </div>
         {% endverbatim %}


       </div>

    </div>

{% endblock %}

