

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*boundless fonts*/
@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscondensed-400-regular-webfont.eot');
  src: url('../assets/fonts/encodesanscondensed-400-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscondensed-400-regular-webfont.woff') format('woff'), url('../assets/fonts/encodesanscondensed-400-regular-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscondensed-400-regular-webfont.svg#encodesanscondensed-400-regular-webfont') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscondensed-500-medium-webfont.eot');
  src: url('../assets/fonts/encodesanscondensed-500-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscondensed-500-medium-webfont.woff') format('woff'), url('../assets/fonts/encodesanscondensed-500-medium-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscondensed-500-medium-webfont.svg#encodesanscondensed-500-medium-webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscompressed-600-semibold-webfont.eot');
  src: url('../assets/fonts/encodesanscompressed-600-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.woff') format('woff'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.svg#encodesanscompressed-600-semibold-webfont') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscompressed-700-bold-webfont.eot');
  src: url('../assets/fonts/encodesanscompressed-700-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscompressed-700-bold-webfont.woff') format('woff'), url('../assets/fonts/encodesanscompressed-700-bold-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscompressed-700-bold-webfont.svg#encodesanscompressed-700-bold-webfont') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscompressed-800-extrabold-webfont.eot');
  src: url('../assets/fonts/encodesanscompressed-800-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscompressed-800-extrabold-webfont.woff') format('woff'), url('../assets/fonts/encodesanscompressed-800-extrabold-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscompressed-800-extrabold-webfont.svg#encodesanscompressed-800-extrabold-webfont') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscompressed-900-black-webfont.eot');
  src: url('../assets/fonts/encodesanscompressed-900-black-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscompressed-900-black-webfont.woff') format('woff'), url('../assets/fonts/encodesanscompressed-900-black-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscompressed-900-black-webfont.svg#encodesanscompressed-900-black-webfont') format('svg');
  font-weight: 900;
  font-style: normal;
}

/* the parts of boundless style that we actually use */
h1, h2, h3, h4, h5, h6
 {
  font-family: "Encode Sans Compressed", sans-serif;
  line-height: 1.3;
}

a:hover, a:focus, a:active,
.btn-link:hover, .btn-link:focus, .btn-link:active {
  color: #85754d;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.72222;
  color: #595959;
  background-color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #4b2e83;
  border-color: #402770;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background-color: #35215d;
  border-color: #261743;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: #ffffff;
  background-color: #a1aab0;
  border-color: #adadad;
}

.btn {
  font-size: 17px;
  line-height: 1.72222;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 29px;
  font-size: 25.5px;
  line-height: inherit;
  color: inherit;
  border: 0;
}

/* ++++++++++++++++++++++++++ GLOBAL ELEMENTS ++++++++++++++++++++++++++ */ 
/* customize font-size */
h1, h2, h3 { font-weight: bold; 
}

h2, h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
}

p, ul li, ol li, .qna-heading, .req-input-text{
  font-size: 14px;
  line-height: 150%;
  color: #3d3d3d;
  font-weight: normal;
}

/* Tweaking  <br> for 2 SMS # and/or emails case */
.userinfo-br {
   display: block;
   line-height:50%;
   margin-top: 10px;
   content: "";
}

/* NTS: New H1 style!   */

h1.page-title, .page-title h1{
  font-size: 32px; 
  color: #4b2e83;
  margin-top: 1em;
  margin-bottom: 10px;
}

.page-title h1 small{
  color: #595959;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  display:block;
  line-height: 1.3;

}

.uw-body{
	padding:0px;
	
}


/*  ++++++++++++++++ styling text: GLOBAL +++++++++++++ */
h2.section-title{
	font-size: 24px;
	font-weight: 700;
	/* -webkit-font-smoothing:antialiased;*/
}
.bold {
	font-weight: bold;
}


.bolditalic {
	font-weight: bold;
	font-style: italic;
}

.input-error-text{
	font-size: 80%;
	color: #c61029;
	line-height: 1.5;
	margin-bottom: 5px;
}

.logout-box {
    color: #444;
    margin-top: 15px;
}
.logout-title {
    margin-top: 0;
    font-size: 20px;
}

/* Sytled links  */
.fallback-btn-link {
	padding-left: 0px;
	margin: 10px 0px;
	font-size: 14px;
}

/* spacing in header  */
.return-link{
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 15px;
}
/* Hyperlink style: overwrite blue color for A11y */
a{
  color: #3873d2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.banner {
  padding-top: 20px;
    padding-bottom: 5px;
}

.banner a {
  color: #fff;
}

.banner a:hover, a:focus, a:active {
  color: #b7a57a;
}

a.graytext, .graytext {
	color: #aaa;
}

.site-name{
	color: #fff;
	font-size: 37px;
	font-family: "Encode Sans Compressed", sans-serif;
	font-weight: 700;
	line-height: 1.3;
    padding-bottom: 20px;
}

.banner-row {
  position: relative;
}

/* W logo in purple banner */
.header-w {
  bottom: -8px;
}

#navigation a {
	color:white;
	font-size: 1.286em;
}

.jumbotron {
  background-color: #4b2e83;
  padding: 0px 10px;
  margin-bottom: 0px;
  
}


/* tagline */
.tagline {
  color:#e9e6f0; /* light lavender from UW banding */
  font-size: 16px;
  font-family:open sans, sans-serif;
  font-weight:100;
  font-style: italic;
  padding-left: 1em;
  display: inline-block;
}

/* logout */
#logout {
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
}


.netid-gate-row {
	font-weight: 600;
	font-size: 14px;
	color: #595959;
	display: inline-block;
	padding-right: 40px;
}


.netid-navbar{
  font-size: 14px;
  color:#e9e6f0;
  font-weight: 200;
    text-align: right;
}
/*  ++++++++++++++++ SECTION OR VIEW +++++++++++++ */

/* OL for PIN screen */
ol.no-number{
	list-style-type: none;
	margin-left: -20px;
}

/* Terms & Conditions style   */
.tnc-header {
	font-size: 16px;
	font-weight: bold;
	color:#4b2e83;
	line-height: 1.3;
}
.tnc-title {
	font-size: 14px;
	font-weight: bold;
}
.tnc-checkbox{
	margin-bottom: 15px;
}

.tnc-box {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #efefef;
	border-radius: 3px;
	background-color: #f5faff;
	margin: 15px 0px 5px 0px;
}

/* Recovery opts view H2 styling */
.option-heading{
	font-size: 14px;
	font-weight: 400;
	margin-top:0px;
}	

/* Recovery: unverified tag */
.unverified-tag{
	color: #c61029;
	font-size:14px;
	font-style: italic;
	padding-left:10px;
}


/* style Module box */
.graybox{
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px 0px;
	border: 1px solid #efefef;
	border-radius: 3px;
}

.graybox2{
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin: 15px ;
}
	
label, legend.dob{
	font-size: 14px; /* 0.83em is tiny bit larger than 14px */
	font-weight:600;
	margin-bottom: 5px;
}

.form-group{
	margin-bottom: 5px;
}

/* TWEAK THE SPACING#gate_form_view .fieldset{
	padding-bottom: 5px;
}*/

/* Inline help text - Gate Q form */
/* ID# help text */
.help-id{
	font-size: 75%;
	line-height: 1;
}

/* Modal */
.modal {
  text-align: center;
}
.modal-content {
	display: inline-block;
}

@media screen and (min-width: 480px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Shrink the size for modal header */
.modal-title {
	font-size: 18px; 
}

/* style text input fields */

#dobform fieldset{
	padding-bottom: 0px;
}

fieldset{
	padding-bottom: 10px;
}


.userinfo-unit{
	display: block;
}
.userinfo{
	font-size: 125%;
	color:#777;
	line-height: 1.5;
}
.userinfo-btns{

	float: right;
}
/*.truncate {
  width: 424px;
  white-space: nowrap;
  overflow: hidden;
}*/

#fieldset_wrapper {
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

#fieldset_wrapper legend {
  font-size: 16px;
  margin-bottom: 20px;
}

/* styling the character counter */
.alert-warning {
  opacity: 0.65;
  border-radius: 2px;
  height: 40px; 
}

/* styling tweak for NSSPR  */
 .global-error {
  opacity: 1;
  border-radius: 2px;
  margin-top: 10px;
}

.alert-warning {
  background-color: #d9d9d9;
  border-color: #ccc;
  margin-top: 10px;
  margin-bottom: 5px;
}

.alert-warning p {
  line-height: 100%;
}


.row input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}

div.namefield { margin-bottom: 15px; }
div.namefield label { margin-bottom: 0px; }

/* resize input text */
input[type="text"] {
  font-size: 14px;
  color:#333;
}

/* resize dropdown text*/
select { 
  /* font-size: 14px; /* FF renders the dropdown text larger for a11y  */
  font-family: inherit;
  width: 100%;
  margin-bottom: 10px;
}
 

/* styling the save message */
#savetext {
	display:none;
	color: green;
}

/* Styling the error message */
#errormessage {
  color: #c61029;
  font-size: 14px;
}

/* Styling the save button */
#save {
	float: left;
  width: 200px;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* area showing save-messages */
.save-message {
  padding: 20px 0px;
}

.save-message .save-success {
  text-align: center;
  padding: 5px 0px;
}

.save-failure {
  text-align: center;
  padding: 5px 0px;
  opacity: 1;
  height: 100%;
  border-radius: 4px; }

.general-error {
  text-align: center;
  padding: 5px 0px;
  opacity: 1;
  height: 100%;
  border-radius: 4px; }

.nav-tabs { padding-top: 10px; }

/*  BUTTONS  */

/* styling default button */
.first-btn{
	margin-right: 15px;
}

.btn-default{
	background-color: #73777a;
	color:#fff;
	border-color: #adadad;
}
/* adding margin for big button */
.bigbtn{
	margin: 10px 0px; 
}

/* Overriding small button style */
.btn-xs {
    padding: 1px 10px;
    margin-left: 10px;
}

/* styling disabled button */
.btn.disabled, .btn[disabled], .btn-primary[disabled]:hover, fieldset[disabled] .btn
{
  background-color: #d9d9d9;
  border-color: #ccc;
  color: #3d3d3d;

}

/* Email recovery big button tweak */
#emailnonebutton{
	padding-left: 17px;
	padding-right: 18px;
}


/* footer */
#footer{
	border-top: #eee 1px solid;
	padding-top: 20px;
	margin-top: 50px;
	color: #777;
	font-size: 12px;
}

#footer .credit {
  margin-left: 15px; 
  
}

#footer a { color: #777 }


#footer .credit ul { 
    line-height: 11px;
    list-style: outside none none;
    margin-bottom: 0.5em;
    padding: 0; 
}

#footer .credit ul li { 
    border-right: 1px solid #bdc3c7;
    display: inline-block;
    margin-right: 3px;
    padding-right: 5px;
    font-size: 12px;
}

#footer .credit ul li:last-child { 
	    border: 0px;
	    color: #777;
}


/* COPIED FROM NSSPR.CSS: JIM'S ADDITION    */
/* style the password strength bar */
.password-bar {
  height: 10px;
  display: none;
}
/* style the password strength verdict (text) */
.password-verdict {
  font-size:14px; 
}
.password-short {
  color: #d24436;
}
.password-weak {
  color: #ffa500;
}
.password-fair {
  color: #7b7b00;
}
.password-good {
  color: #088761;
}
.password-strong {
  color: #007000;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}

 /* Not used modal style */
.nsspr-opener-overlay {
  /* A white div that covers the whole screen during startup */
  position:absolute;
  z-index:10001;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#ffffff;
  opacity: 1.0;
}

.nsspr-expire-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.6;
}
.nsspr-expire-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%;
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #e0e0e0;
  box-shadow: 4px 4px 80px #000;
}
.nsspr-expire-dialog-content {
  padding:10px;
  text-align: center;
}

.idbase-navbar {
    background-color: #4b2e83;
    border: 0;
    border-radius: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #d9d9d9;
    color: #404040;
    font-weight: bold;
}

.nav-pills>li{
    min-height: 41px; /* header-w icon height (33px) plus its offset (8px) */
}

.nav-pills>li>a {
    color: #d9d9d9;
    border-radius: 0;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color: #35215d;
}

uw-active-tab {
    display: none
}

.uw-tooltip-icon {
	color: #aaa;
	padding-left: 5px;
}