{% extends "idbase/base.html" %}

{%  block js %}
    {% load static %}
    {{ block.super }}
    <script src="{% static "idbase/js/demo.js" %}"></script>
{% endblock %}

{% block content %}
    <span uw-active-tab="Profile"></span>
    <div  class="container">
    <!-- NEW PAGE-TITLE -->
		<div class="page-title">
           <h1>Identity.UW enables you to...</h1>
        </div><!-- end new H1 -->

        <h2>Demo pages</h2>
        <p>Such as this one!</p>
        <h2>Demo logins</h2>
        <p>By clicking <a id="loginLink" href="/secure">this link!</a></p>
        <h2>Test errors</h2>
        <p ng-controller="MakeErrorCtrl as makeError">By clicking
            <button id="badButton"
                    type="button" class="btn btn-primary"
                    ng-click="makeError.doIt()">this button!</button></p>

        <p>Your session should time out in {{ session_timeout }} seconds.</p>
    </div>
{% endblock %}