{% extends "idbase/base.html" %}

{% block content %}
    <div  class="container">
    <!-- NEW PAGE-TITLE -->
		<div class="page-title">
           <h1>Identity.UW enables you to...</h1>
        </div><!-- end new H1 -->


     <div class="row">
       <div class="col-md-7">
            <h2>Profile Information</h2>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Preferred Name</h3>
            </div>
            <div class="panel-body">
                <a href="">Set your preferred name</a> to replace your legal name in <a href="">UW Directory</a>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Legal Name</h3>
            </div>
            <div class="panel-body">
                TIMOTHY ROBERT JOHNSON
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">UW Email</h3>
            </div>
            <div class="panel-body">
                tjohn1234@uw.edu
            </div>
        </div>
       </div>
     </div>

     <div class="row">
       <div class="col-md-7">
            <h3>Student Information</h3>
           <p>Source: <a href="">Student Personal Services</a></p>
           <p><a href="">Read FERPA</a> to learn about your privacy rights.</p>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Phone Number</h3>
            </div>
            <div class="panel-body">
                (425)333-4444
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Year, Major</h3>
            </div>
            <div class="panel-body">
                Graduate [Class Standing]
                Sociology [Major and minor(s) of studies]
            </div>
        </div>
       </div>
     </div>

     <div class="row">
       <div class="col-md-7">
            <h3>Employee Information</h3>
           <p>Source: <a href="">Employee Self-Service(ESS)</a></p>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Phone Number</h3>
            </div>
            <div class="panel-body">
                (206)123-2222
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Legal Name</h3>
            </div>
            <div class="panel-body">
                TIMOTHY ROBERT JOHNSON
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">UW Email</h3>
            </div>
            <div class="panel-body">
                tjohn1234@uw.edu
            </div>
        </div>
       </div>
     </div>


     <div class="row">
       <div class="col-md-7">
            <h2>Information Sharing Settings</h2>
           <p>[TBD] Depending on the application, some or all information above will be released.</p>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">UW Directory</a></h3>
                <p><a href="">The UW Directory</a> will show the following:</p>
            </div>
            <div class="panel-body">
                <h3>Your current setting for Employee info:</h3>

                <p><a href="">Listed with email</a></p>
                <p>Following employee information will be viewable by anyone:</p>
                Your legal name, UW NetID, UW email address, phone number, position, campus address.
            </div>
            <div class="panel-body">
                <h3>Your current setting for Student info:</h3>
                <p><a href="">[TBD] Yes to Release</a></p>
                <p>You can change the setting on the <a href="">Student Personal Services Site</a>. Changes will take up to 1-2 business days to be effective.</p>
                <p>Following student information will be viewable by the UW NetID owners:</p>
                <p>Your phone number, year</p>
            </div>
        </div>
       </div>
     </div>


        <p>By clicking <a id="loginLink" href="/secure">this link!</a></p>
        <h2>Test errors</h2>
        <p ng-controller="MakeErrorCtrl as makeError">By clicking
            <button id="badButton"
                    type="button" class="btn btn-primary"
                    ng-click="makeError.doIt()">this button!</button></p>

        <p>Your session should time out in {{ session_timeout }} seconds.</p>
    </div>
{% endblock %}